* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
h3, li, p {
    font-family: 'Poppins', sans-serif;
}
h1, h2, h4{
    font-family: 'Caveat', serif;
    color: #FCDEF5;
}
h4 {
    font-size: 2.5em;
}
header {
    min-height: 50vh;
    min-width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 'titles titles navul';
    padding: 2em 1em;
    background:rgba(0, 0, 0, 0.5) url("img/sofa-no-armch-edit.9c437cfb.jpg");
    background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  background-blend-mode: darken;
   // background-color: #cccccc;
    h1 { font-size: 5em;
    }
    h2 {
        font-size: 2em;
    }
    h3 {
        font-size: 2em;
        color: #FCDEF5;
    }
}
.titles {
    grid-area: titles;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

nav {
    display: flex;
    align-items: center;
    grid-area: navul;
    color:#FCDEF5;
    padding-left:auto ;
    padding-right: auto;
    hr {
        border-top: 2px  #FCDEF5;
        width: 80%;
    }
    ul {
        display: flex;
        flex-direction: column;
        a {
            color:#FCDEF5;
            font-size: 1.2em;
        }
    }

}
footer {
    min-height: 20vh;
    background-color: #FCDEF5;
    display: flex;
    justify-content: center;
    align-items: center;
}
.index-main {
    min-height: 100vh;
    width: 100%;
    display: grid;
    grid-template: "About Image" "Imgtrio Imgtrio"/ 55% 45%;
    column-gap: 20px;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
  
.index-text {
    grid-area: About;
    padding: 1em;
    h2 {
        color: black;
        font-size: 2em;
    }
    p {
        font-size: 1.2em;
        padding-bottom: 1em;
    }
}
.index-img {
    grid-area: Image;
    padding-right:1em;
    img {
        object-fit: cover;
        height: 100%;
        width: 100%;
        padding:2em 2em;
    }
}
.trio-img {
    grid-area: Imgtrio;
    min-height: 70vh;
    width: 100%;
    display: grid;
    grid-template: "Image1 Image2 Image3" / 1fr 1fr 1fr;
    column-gap: 20px;
    padding: 1em 4em;
    .Image1 {
        grid-area: Image1;
    }
    .Image2{
        grid-area: Image2;
    }
    .Image3 {
        grid-area: Image3;
    }
    .Image1, .Image2, .Image3 {
        width: 100%;
        object-fit: cover;
    }
}
.passe-main {
    min-height: 100vh;
    width: 100%;
    display: grid;
    grid-template: "About Image" / 60% 40%;
    column-gap: 20px;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.passe-text {
    grid-area: About;
    padding: 1em 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    h2 {
        color: black;
        font-size: 2em;
    }
    h4 {
        color:rgb(82, 167, 162);
        font-size: 2em;
    }
    p {
        font-size: 1.2em;
        padding-bottom: 1em;
        
    }
}
.passe-img {
    grid-area: Image;
    padding-right:1em;
    overflow: hidden;
    img {
        object-fit: cover;
        height: 100%;
        width: 100%;
        padding:2em 2em;
    }
}


.pourquoi-main {
    min-height: 100vh;
    width: 100%;
    display: grid;
    grid-template: "About Image" / 55% 45%;
    column-gap: 20px;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.pourquoi-text {
    grid-area: About;
    padding: 1em 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    h2 {
        color: black;
        font-size: 2em;
    }
    p {
        font-size: 1.2em;
        padding-bottom: 1em;
        
    }
}
.pourquoi-img {
    grid-area: Image;
    padding-right:1em;
    overflow: hidden;
    img {
        object-fit: cover;
        height: 100%;
        width: 100%;
        padding:2em 2em;
    }
}

.grid-title {
    font-size: 3em;
}
.enf-main, .adu-main, .adol-main {
    min-height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}
.enf-main {
    grid-template-areas: "enfimg1 enftitle"
    "enftext1 enfimg2"
    "enfimg3 enftext2";
}
.adu-main {
    grid-template-areas: "adutitle adutitle"
    "aduimg1 adutext2"
    "adutext3 aduimg2";
}
.adol-main {
    grid-template-areas: "adoltitle adolimg1"
    "adolimg2 adoltext1"
    "adoltext2 adoltext2";
}
.adol-title {
    grid-area: adoltitle;
    background-color: #E6D7CA;
    h2 {
        color: #233537;
    }
}
.adol-text1 {
    grid-area: adoltext1;
    background-color: #94CCC1;
}
.adol-text2 {
    grid-area: adoltext2;
    background-color: #ECCEFF;
    display: flex;
    justify-content: center;
    align-items: center;
}
.adol-p {
    margin: 2em;
}
.adol-image1 {
    grid-area: adolimg1;
}
.adol-image2 {
    grid-area: adolimg2;
}
.adu-title {
    grid-area: adutitle ;
    min-height: 20vh;
    background-color: #E6D7CA;
   h2 {
    color: #275351;
}
}
.adu-text2 {
    grid-area: adutext2;
    background-color: #94CCC1;
}
.adu-text3 {
    grid-area: adutext3;
    background-color: #ECCEFF;
}
.adu-title, .adu-text1, .adu-text2, .adu-text3, .adol-title, .adol-text1, .adol-text2, .enf-title, .enf-text2, .enf-text1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #275351;
    p {
        font-size: 1.2em;
        padding: 0em 2em;
    }
}
.adu-image1{
    grid-area: aduimg1;
} 
.adu-image2 {
    grid-area: aduimg2;
}
.adu-image1, .adu-image2 {
    overflow: hidden;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        
    }
}
.enf-title {
    grid-area: enftitle;
    background-color: #E6D7CA;
    h2 {
        color: #233537;
    }
}
.enf-text1 {
    grid-area: enftext1;
    background-color: #94CCC1;
}
.enf-text2 {
    grid-area: enftext2;
    background-color: #ECCEFF;
}

.enf-image1{
    grid-area: enfimg1;
}
.enf-image2 {
    grid-area: enfimg2;
}
.enf-image3 {
    grid-area: enfimg3;
}
.enf-image1, .enf-image2, .enf-image3, .adol-image1, .adol-image2{
    overflow: hidden;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        
    }
}
.line {
    padding: 0em 1em;
    margin-bottom: 1em;
    width: 1000%;
    height: 3px;
    background-color: rgb(82, 167, 162);
    animation-name: lineanim;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
}
@keyframes lineanim {
    from{
        width: 10%;
    } 
    to {
        width: 100%;
    }
}